/* General layout styles */
.flex-container {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
}

/* Styles for tabs */
.profile-tabs {
    margin-top: -40px;
}

.tab {
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    color: green;
}

.tab:hover,
.tab:active,
.tab.active {
    background-color: #007bff;
    color: #fff;
}

/* Styles for form groups */
.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Heading styles */
h5 {
    margin-bottom: 15px;
    color: #333;
}

/* Styles for form containers */
.forms {
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/* Styles for form controls */
.form-control {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

/* Styles for input and select */
input,
select {
    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Styles for buttons */
button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Media queries */
@media (max-width: 768px) {
    .forms .flex-container {
        flex-direction: column;
    }

    .forms .form-group {
        width: 100%;
        margin-right: 0;
    }

    .forms {
        padding: 15px;
    }
}
