.student-sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(26, 24, 24);
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 50px;
  margin-top: 0;
  padding: 28px 40px;
  transition: all 0.3s;
}

.sidebar-content {
  margin-top: 0;
  width: 100%;
}

.sidebar-item {
  padding: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #34495e;
}

.icon {
  margin-right: 5px;
  font-size: 20px !important;
}

.toggle-btn {
  display: none;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .student-sidebar {
    width: 60px;
    padding-top: 10px;
  }

  .sidebar-content {
    justify-content: center;
  }

  .sidebar-item span {
    display: none;
  }

  .toggle-btn {
    display: flex;
  }

  .closed .bar {
    background-color: #ecf0f1;
  }
}
