.student-sidebar {
  width: 200px;
  height: 80vh;
  background-color: rgb(26, 24, 24);
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-items: center;

  transition: all 0.3s;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: #ecf0f1;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #34495e;
}

.icon {
  font-size: 1em;
  margin-right: 10px;
}

.toggle-btn {
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ecf0f1;
  margin: 2px 0;
  transition: 0.4s;
}

.closed .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.closed .bar:nth-child(2) {
  opacity: 0;
}

.closed .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for small screens */
@media (max-width: 768px) {
  .student-sidebar {
    width: 60px;
    padding-top: 10px;
  }

  .sidebar-content {
    justify-content: center;
  }

  .sidebar-item span {
    display: none;
  }

  .toggle-btn {
    display: flex;
  }

  .closed .bar {
    background-color: #ecf0f1;
  }
}
