@use "../variables" as *;
@import "../media-queries";

.counters {
  display: flex;
  gap: 24px;
  margin-bottom: 24px; // Add margin for separation from cards
  flex-wrap: wrap; // Allow items to wrap to the next line
}

.counter {
  flex: 0 1 calc(20% - 24px); // Adjust the width to fit 5 counters in a row with some gap
  padding: 16px;
  background-color: rgba($color: $primary-color, $alpha: 0.08);
  box-shadow: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.2);
  }

  .counter .pending{
    background-color: #9d4f12;
  }

  h4 {
    margin-bottom: 8px;
  }

  p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.cards {
  display: flex;
  gap: 24px;
  width: 100%;
}

.welcome,
.did-you-know {
  flex: 1;
  flex-direction: row !important;
  height: min-content;
  justify-content: space-between;
  gap: 20px;
  background-color: rgba($color: $primary-color, $alpha: 0.08);
  box-shadow: none;
  border-radius: 8px;
  padding: 16px;
}

.welcome_content,
.did-you-know_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .go-to {
    width: max-content;
    padding: 8px 12px;
    background-color: $secondary-color;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color: $secondary-color, $amount: 10%);
    }
  }

  .highlight-text {
    color: $page-list-text-color;
  }
}

.image-container {
  height: 120px;
  position: relative;

  .icon {
    position: absolute;
    top: -12px;
    right: 0;
  }
}

.spacer {
  height: 50px;
}
